[core]
    editor = vim
[alias]
    tree    = log --graph --decorate --pretty=oneline --abbrev-commit
    subinit = submodule update --init --recursive
    amend   = commit --amend --no-edit
[tig]
    main-view = id date author commit-title
    main-view-author = abbreviated
    main-view-commit-title = graph=yes,refs=yes
    main-view-date = custom
    main-view-date-format = "%Y-%m-%d"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
