[core]
    editor = vim
[alias]
    a = add
    amend = commit --amend --no-edit
    b = branch
    bD = branch -D
    bd = branch -d
    c = commit --verbose
    co = checkout
    cob = checkout -b
    d = diff
    dc = diff --cached
    ds = diff --stat
    f = fetch -p
    g = grep
    lasttag = describe --tags --abbrev=0
    m = commit --amend --verbose
    s = status -s
    subinit = submodule update --init --recursive
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    w = whatchanged
[tig]
    main-view = id date author commit-title
    main-view-author = abbreviated
    main-view-commit-title = graph=yes,refs=yes
    main-view-date = custom
    main-view-date-format = "%Y-%m-%d"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
