/** \file
 *
 *******************************************************************************
 * \copyright
 * Copyright {{ '%Y' | strftime }} MSA as unpublished work. All Rights Reserved.
 * The information contained herein is confidential property of MSA. The use,
 * copying, transfer or disclosure of such information is prohibited except
 * by express written agreement with MSA.
 ******************************************************************************/

/* Includes
 ******************************************************************************/
// std

// 3rd

// local
#include "{{filename}}.h"

/* Defines
 ******************************************************************************/

/* Type Prototypes (Structures, Enum, Typedef)
 ******************************************************************************/

/* Globals
 ******************************************************************************/

/* Function Prototypes
 ******************************************************************************/

/* Function Definitions
 ******************************************************************************/

