/** \file
 *
 *******************************************************************************
 * \copyright
 * Copyright {{ '%Y' | strftime }} MSA as unpublished work. All Rights Reserved.
 * The information contained herein is confidential property of MSA. The use,
 * copying, transfer or disclosure of such information is prohibited except
 * by express written agreement with MSA.
 ******************************************************************************/
#ifndef {{filename | upper | replace('-', '_') | replace('.', '_') | replace(' ', '_')}}_H_
#define {{filename | upper | replace('-', '_') | replace('.', '_') | replace(' ', '_')}}_H_

/* Includes
 ******************************************************************************/
// std
#include <stdbool.h>
#include <stddef.h>
#include <stdint.h>

// 3rd

// local

/* Defines
 ******************************************************************************/

/* Type Prototypes (Structures, Enum, Typedef)
 ******************************************************************************/

/* Function Prototypes
 ******************************************************************************/

#endif /* {{filename | upper | replace('-', '_') | replace('.', '_') | replace(' ', '_')}}_H_ */
