// https://zellij.dev/documentation/creating-a-layout.html
layout {
  pane size=1 borderless=true {
      plugin location="tab-bar"
  }
  pane split_direction="vertical" {
    pane command="nvim" close_on_exit=true
    pane {
      pane
      pane
    }
  }
  pane size=1 borderless=true {
      plugin location="status-bar"
  }
}
